/* Tất cả màu bên dưới bạn đều có thể thay đổi được */
.thuTitle {
  padding: 20px;
  background-color: #2e1b3b;
  color: white;
  font-family: "Dancing Script", cursive;
  font-size: 26pt;
}

.tamthu {
  font-family: "Dancing Script", cursive;
  font-size: 20pt;
  color: #73227e;
}

.content {
  background-color: #f3a8b5;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  /* Ảnh nền của trang thứ 2 */
  background-image: url("./img/crush2.jpg");
  background-size: contain;
}
span {
  display: inline-block;
  white-space: pre;
}

.iloveyou {
  position: relative;
}

.mask {
  position: absolute;
  background-color: #f3a8b5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.btn-video {
  background-color: #73227e;
  color: #fff;
  text-align: center;
}
.btn {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.btn .play {
  position: relative;
  width: 80px;
  height: 80px;
  background: #f42e79;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 15px 25px #f42e7966;
  transition: 0.5s;
}
.btn.active .play {
  /* background-image: url('img/bg-love.jpg'); */
  box-shadow: 0 0 0 150vh #f42e79;
}
.btn .play::before {
  content: "";
  position: absolute;
  border: 25px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 0px solid transparent;
  transform: translate(5px);
}
.btn p {
  font-weight: 500;
  font-size: 1em;
  color: #73227e;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.clip {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  transition: 0.5s;
  background-image: url(img/bg-love.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}
.clip.active {
  transition-delay: 0.5s;
  transform: translate(-50%, -50%) scale(1);
}
.clip video {
  max-width: 900px;
  outline: none;
  border: 10px solid #fff;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.25);
}
.clip .close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
